beautiful_strings/beautiful_strings
bit_positions/bit_positions
calculate_distance/calculate_distance
capitalize_words/capitalize_words
even_numbers/even_numbers
fibonacci_series/fibonacci_series
file_size/file_size
happy_numbers/happy_numbers
hidden_digits/hidden_digits
json_menu_ids/json_menu_ids
lowest_unique_number/lowest_unique_number
mixed_content/mixed_content
morse_code/morse_code
multiplication_tables/multiplication_tables
multiply_lists/multiply_lists
odd_numbers/odd_numbers
rightmost_char/rightmost_char
self_describing_number/self_describing_number
set_intersection/set_intersection
split_the_number/split_the_number
sum_of_integers_from_file/sum_of_integers_from_file
swap_case/swap_case
the_major_element/the_major_element
unique_elements/unique_elements
word_to_digit/word_to_digit
